
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(156, 155, 155) 2px 4px 10px 7px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  text-shadow: 2px 1px 3px rgb(189, 119, 160) ;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.form-group{
  text-shadow: 2px 1px 3px #f1c35f ;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.submit{
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 1px 5px #e9e5f5
}
